

.buttonstyle{
    
    height: 30px;
    width: 100px;
    background-color: rgb(181, 241, 241);
}
#haut{
    margin-left: 350px;
}
#milieu{
    margin-left: 90%;
}
#bas{
    margin : 10px
}

.titre{
    margin-left: 50%;
}

.backgroundstyle{
    margin : 10px
}

.img{
    margin-left: 666px;
    margin-top: 50px;
}

.txt{
color : red;
font-family: arial;
font-size: 30px;
}